@charset "utf-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
img,iframe{vertical-align: top;}

/*문서전체 공통적으로 적용할 스타일*/
:root{
    font-family: "Pretendard Variable";
}

.inner{
    max-width: 1600px; margin: 0 auto;
}